[user]
	name = BartGo
	email = bartoszgo@gmail.com

[credential]
	helper = wincred

;[http]
;   proxy = http://MY_PROXY:MY_PORT
    
[core]
    editor = joe
;   excludesfile = C:\\Users\\MY_LOGIN\\Documents\\gitignore_global.txt

;[difftool "kdiff3"]
;	cmd = 'C:/Program Files (x86)/WinMerge/WinMergeU.exe' \"$LOCAL\" \"$REMOTE\"

;[difftool "sourcetree"]
;	cmd = 'C:/Program Files (x86)/WinMerge/WinMergeU.exe' \"$LOCAL\" \"$REMOTE\"

[color]
	ui = auto
	
[color "branch"]
	current = red
	local = yellow
	remote = green
	
[color "diff"]
	meta = cyan
	frag = magenta
	old = red bold
	new = green bold
	
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
	
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[gui]
	recentrepo = X:/bottle-stack.git

[push]
    default = simple
    
[alias]
    # https://github.com/dotphiles/dotphiles/blob/master/git/gitconfig
    # https://github.com/mitsuhiko/dotfiles/blob/master/git/gitconfig
    s = status -sb
    ci = commit
    cm = commit --message
    co = checkout
    br = branch
    cp = cherry-pick
    cps = cherry-pick -s
    today = diff @{yesterday}.. --stat
    meh = commit --amend
    ls  = log --decorate --topo-order --stat --pretty=format:'%C(bold)%C(yellow)Commit:%C(reset) %C(yellow)%H%C(red)%d%n%C(bold)%C(yellow)Author:%C(reset) %C(cyan)%an <%ae>%n%C(bold)%C(yellow)Date:%C(reset)   %C(blue)%ai (%ar)%C(reset)%n%+B'
    ld  = log --decorate --topo-order --stat --patch --full-diff --pretty=format:'%C(bold)%C(yellow)Commit:%C(reset) %C(yellow)%H%C(red)%d%n%C(bold)%C(yellow)Author:%C(reset) %C(cyan)%an <%ae>%n%C(bold)%C(yellow)Date:%C(reset)   %C(blue)%ai (%ar)%C(reset)%n%+B'
    lg  = log --decorate --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lga = log --decorate --topo-order --all --graph --pretty=format:'%C(yellow)%h %C(cyan)%cn%C(reset) %s %C(red)%d%C(reset)%n'
    lm  = log --decorate --topo-order --pretty=format:'%s'
    lh  = shortlog --summary --numbered
    llf = fsck --lost-found
    wtf = log --pretty=format:"%C(auto,yellow)%h%C(auto)%d%C(auto,reset)\\ by\\ %C(auto,blue)%cn%C(auto,reset),\\ %C(auto,cyan)%ar%C(auto,reset)%n\\ %s%n" --stat
    in = !git wtf HEAD..HEAD@{u}
    out = !git wtf HEAD@{u}..HEAD
    # others
    p = push --progress
    cx = commit --message "..."
    kdiff= difftool --tool=kdiff3
    a    = add --all .
    d    = difftool --tool=kdiff3
    l    = log --decorate --graph --all --pretty=format:'%Cgreen%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(bold green)%an%Creset' 
    sai0 = stash apply --index stash@{0}
    sai1 = stash apply --index stash@{1}
    sai2 = stash apply --index stash@{2}
    sai3 = stash apply --index stash@{3}
    sai4 = stash apply --index stash@{4}
    sai5 = stash apply --index stash@{5}
